@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/employee.js"></script>
<div class="container">
    <div>
        <h1>Employees</h1>
        <button>Add</button>
        <div id="tblDiv">

        </div>
    </div>
</div>



